ul.elementUl {
  margin: var(--space-stack-md);
  list-style: none;
}
li.elementLi {
  padding: var(--space-md) 0;
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-summary);
  border: 1px solid transparent;
  border-radius: var(--radius-card);
  margin: calc(var(--space-default) * 2) 0 calc(var(--space-default) * 3);
  padding: var(--space-inset-s);
  position: relative;
  transition: all var(--duration-default);
  background: transparent;

  &::after {
    border-top: 1px solid var(--color-border);
    content: '';
    height: 0;
    position: absolute;
    bottom: calc(var(--space-default) * -1.5);
    left: 50%;
    transform: translateX(-50%);
    transition: all var(--duration-default);
    width: 50%;
  }

  &:first-child {
    &::before {
      content: '';
      height: 0;
      position: absolute;
      top: calc(var(--space-default) * -1.2);
      left: 50%;
      transform: translateX(-50%);
      transition: all var(--duration-default);
      width: 50%;
    }
  }
}
:global(.date-container).date-container {
  padding: var(--space-xs) 0 var(--space-sm) 0;
}
:global(.date).date {
  font-weight: var(--font-weight-bold);
}
:global(.where).where {
  font-weight: var(--font-weight-bold);
}
:global(.title-container).title-container {
  padding: var(--space-sm) 0;
}
:global(.title-label).title-label {
  font-weight: var(--font-weight-bold);
}
:global(.title).title {
  text-decoration: underline;
}
:global(.description-container).description-container {
  padding: var(--space-xs) 0 var(--space-md) 0;
}
:global(.description-label).description-label {
  font-weight: var(--font-weight-bold);
}
