:global(.article).article {
  padding: var(--space-inset-default);
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  :global(.article).article {
    padding: calc(var(--space-default)) calc(var(--space-default) * 2);
    max-width: var(--text-max-width-tablet);
  }
}
@media screen and (min-width: 1024px) {
  :global(.article).article {
    padding: calc(var(--space-default) * 2 + 90px) 0 calc(var(--space-default) * 2);
    max-width: var(--text-max-width-desktop);
  }
}
