h1.elementH1 {
  font-size: var(--font-size-xxl);
  margin: var(--space-stack-lg);
  animation-name: headlineEntry;
  animation-duration: var(--time-duration-long);

  :global(span) {
    font-weight: var(--font-weight-standard);
    display: block;
    font-size: 0.5em;
    letter-spacing: 0;
    margin: var(--space-stack-xs);
  }

  :global(svg) {
    height: 0.75em;
    fill: var(--color-brand);
  }
}

@keyframes headlineEntry {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  h1.elementH1 {
    font-size: calc(var(--font-size-xl) * 1.2);
  }
}

@media screen and (min-width: 1024px) {
  h1.elementH1 {
    font-size: calc(var(--font-size-xl) * 1.4);
  }
}
