:global(.form).form {
  background: transparent;
}
:global(.intro).intro {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-summary);
  margin-bottom: var(--space-lg);
}
:global(.intro).intro :global(a) {
  color: var(--text-color-brand);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}
:global(.form).form :global(.ant-row.ant-form-item) {
  margin: 0 0 1em;
}
:global(.form).form :global(.ant-row.ant-form-item:last-child) {
  margin-top: 1em;
}
:global(.form).form :global(.ant-form-item-control) {
  line-height: 1em;
}
:global(.form).form :global(.ant-form-item-label) {
  line-height: 1em;
  margin-bottom: 0.5em;
}
:global(.form).form :global(.ant-form-item) {
  margin: 0;
}
:global(.form).form :global(.ant-input) {
  appearance: none;
  height: auto;
  font-size: 1.2em;
  padding: 0.5em 0.6em;
}
:global(.form).form :global(.ant-btn-primary) {
  height: auto;
  font-size: 1.2em;
  padding: 0.5em 3em;
  background: var(--color-brand);
  border: 1px solid var(--color-brand);
}
:global(.form).form :global(.ant-form-explain) {
  margin-top: 0.2em;
}

@media screen and (min-width: 1024px) {
  :global(.form).form :global(input) {
    max-width: 50%;
  }
}
