:global(.share).share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:global(.links).links {
  display: flex;
  flex-direction: row;

  :global(.SocialMediaShareButton) {
    margin: 0 0.8em;
    cursor: pointer;
  }
}

:global(.label).label {
  font-size: 1.2em;
  margin: 0 1em 1em;
}

@media screen and (min-width: 600px) {
  :global(.share).share {
    flex-direction: row;
    margin: var(--space-inset-l);
  }
  :global(.label).label {
    margin: var(--space-inline-md);
  }
}
